* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
  font-family:  Helvetica;
}

#introDiv{
    text-align: center;
}

#raceAndEthnicity{
    
    text-align: center;

}

#informationDiv{
    display: flex;
justify-content: center;
flex-direction: row;


}

#obamaDiv{
    text-align: center;
 
}

h4{
    margin-bottom: .5em;
    margin-top:.5em;
}

#trumpDiv{
    margin-top: 15em;
    text-align: center;
   
}

#racePage{
  display: none;
  
  padding: 2em;
text-align: center;
}

img{
    height: 200px;
    width: auto;
}

#section{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 10px;
}

button{
    
    background-color: #008CBA;
    border-radius: 8px;
    font-size: 1em;
    font-weight: bold;
    margin: .5em;
    padding: .5em;
}

button:hover{
    color: red;
}

p{
    padding-top: 1em;
}






#trumpJudgeRace{
    margin-top: 1em;
    display: flex;
    flex-direction: column;
}


